<h1>Pre-Order Form</h1>
<%= form_with(model: @pre_order, url: orders_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :product %>
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </div>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>