<h1><%= @product.name %></h1>
<% if @product.image.attached? %>
  <% if @product.content.present? %>
    <p><%= @product.content %></p>
  <% end %>
  <%= image_tag @product.image, class: "resized-image" %>
<% elsif @product.images.any? %>
  <div class="image-gallery">
    <% @product.images.each do |image| %>
      <%= image_tag image, class: "resized-image" %>
    <% end %>
  </div>
<% else %>
  <p>No image available</p>
<% end %>
  


<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= button_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>   |
<%= link_to 'Back', products_path %>


